@{
    ViewData["Title"] = "About";
}
<div class="text-center">
    <h1 class="display-4">Welcome To Contact Application</h1>
</div><br /><br />
<th>
    This is an application to create and store your contacts.
</th>
<br /><br /><br /><br />
<h4>
    Created By :-
</h4><br />
<th>
    Amit B. Khot <br />Traniee Software Developer<br />VRIZE Technologies<br />Bangaluru.<br />
</th>